body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
}

.container {
    width: 40rem;
    height: 45rem;
    border: 1px solid black;
}

.title {
    margin-top: -4rem;
    padding-bottom: 1em;
    font-family: 'Asul', sans-serif;
    letter-spacing: 3px;
    word-spacing: 2rem;
}